<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-script-type" content="text/javascript">
    <title>Tatjana Prijmak {{ app.environment }}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ asset('bundles/litofrontend/js/build/css/bootstrap.css') }}"/>
    <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css"/>
    <link rel="stylesheet" href="{{ asset('bundles/litofrontend/js/dist/vendor/css/bootstrap-image-gallery.min.css') }}"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    
  </head>
  <body style="overflow-y: auto !important">
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% if app.environment == 'dev' %}
    <script type="text/javascript">
      window._GLOBALS = {
        environment: 'dev'
      }
    </script>
    <script type="text/javascript" src="{{ asset('bundles/litofrontend/js/build/app.js') }}"/></script>
    
    {% else %}
    <script type="text/javascript">
      window._GLOBALS = {
        environment: 'test'
      }
    </script>
    <script type="text/javascript" src="{{ asset('bundles/litofrontend/js/build/app.min.js') }}"/></script>
    {% endif %}
  
  </body>
</html>

